<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="ru">
<head>
    <title>Достижения</title>
    <link rel="stylesheet" href="/css/style.css" />
</head>
<body>
<a href="/home" class="back-link">← На главную</a>
<div class="container">
    <header class="page-title">
        <h1>Достижения</h1>
    </header>
    <div th:if="${success}" style="color: green; margin-bottom: 10px;">
        <p th:text="${success}"></p>
    </div>
    <div th:if="${error}" style="color: red; margin-bottom: 10px;">
        <p th:text="${error}"></p>
    </div>
    <div class="grid-achievements">
        <div th:each="achievement : ${allAchievements}">
            <h3 th:text="${achievement.title}">Название</h3>
            <img th:src="${achievement.linkToIcon}" alt="Иконка" width="100px"/>
            <p th:text="${achievement.description}">Описание</p>
            <p th:if="${userAchievementsIds.contains(achievement.id)}">Получено &#9989</p>
            <form th:if="${!userAchievementsIds.contains(achievement.id)}"
                  method="post"
                  th:action="@{'/achievements/' + ${achievement.id} + '/grant'}">
                <button type="submit" class="btn">Получить</button>
            </form>
        </div>
    </div>
</div>
</body>
</html>
