<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Создать карточку</title>
    <link rel="stylesheet" href="/css/style.css" />
</head>
<body>

<h1>Создание новой карточки</h1>

<form method="post" action="/cards/create">
    <label>Название карточки:
        <input type="text" name="name" required/>
    </label><br><br>

    <label>Описание карточки:
        <textarea name="description" required></textarea>
    </label><br><br>

    <label>Ссылка на изображение (необязательно):
        <input type="text" name="linkToImage"/>
    </label><br><br>

    <button type="submit">Создать</button>
</form>

<a href="/cards">Назад ко всем карточкам</a>

</body>
</html>
