<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Создать карточку</title>
    <link rel="stylesheet" href="/css/style.css" />
</head>
<body>
<a href="/cards" class="back-link">← Назад ко всем карточкам</a>
<div class="container content-center">
    <h1>Создание новой карточки</h1>
    <form method="post" action="/cards/create">
        <div class="form-group">
            <label>Название карточки:
                <input type="text" name="name" required/>
            </label>
        </div>
        <div class="form-group">
            <label>Описание карточки:
                <textarea name="description" required></textarea>
            </label>
        </div>
        <div class="form-group">
            <label>Ссылка на изображение (необязательно):
                <input type="text" name="linkToImage"/>
            </label>
        </div>
        <button type="submit" class="btn">Создать</button>
    </form>
</div>
</body>
</html>
