<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Добро пожаловать в Swapka</title>
    <link rel="stylesheet" href="/css/style.css" />
</head>
<body>

<header>
    <h1>Swapka</h1>
    <p>Платформа для обмена авторскими карточками</p>
</header>

<main>
    <section>
        <p>🔸 Создавайте. 🔸 Меняйтесь. 🔸 Вдохновляйтесь.</p>
        <p><em>Откройте для себя мир свопок — маленьких арт-объектов с большой идеей.</em></p>
    </section>

    <section>
        <div>
            <a th:href="@{/register}">Присоединиться</a>
            <a th:href="@{/login}">Войти</a>
        </div>
    </section>
</main>

</body>
</html>
